[Desktop Entry]
Name=Mythrecmaze
Exec=/opt/mythrecmaze/mythrecmaze.py
Icon=/opt/mythrecmaze/mythrecmaze.svg
Terminal=false
Type=Application
Categories=AudioVideo
Name[en_US]=Mythrecmaze
